.btn {
    border-radius: 60px;
}
.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    height: 600px;
    background-position: 50% 15%;
} 

.cards img{
    border-radius: 20px;
}

.card {
    border-radius: 20px;
}

.jumbotron3 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 700px;
    background-position: 50% 15%;
} 

.bg-grey {
    background-color: rgb(75%, 74%, 73%);
}
.bg-blue {
    background-color: rgb(9%, 11%, 22%);
}

footer {
    background-color: rgb(10%, 26%, 59%);
}
.move_up {
    transition: all linear .2s;
}
.move_up:hover
{
 transform: translateY(-10px);
 box-shadow: 20px 20px 50px grey;
}

 .dropdown-menu {
    box-shadow: 2px 25px 50px black;
} 

.scale_up {
    transition: all linear .2s;
}

.scale_up:hover {
    transform: scale(1.1);
    box-shadow: 20px 20px 50px black;
}

dropdown-item:hover {

    background-color: transparent;
    box-shadow: 0px 0px 7px black;
}

