.btn {
    border-radius: 60px;
}
.inline_list {
    margin-right: 2rem;
}
.discs {
    list-style: disc;
}
::marker {
    color: blue; 

}

.dropdown-menu {
    box-shadow: 0px 20px 15px black;
}

.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    height: 600px;
    background-position: 50% 15%;
} 

.cards img{
    border-radius: 20px;
}

.card {
    border-radius: 20px;
}



.jumbotron3 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 700px;
    background-position: 50% 15%;
} 

.bg-grey {
    background-color: rgb(75%, 74%, 73%);
}
.bg-blue {
    background-color: rgb(9%, 11%, 22%);
}

footer {
    background-color: rgb(10%, 26%, 59%);
}
.move_up {
    transition: all linear .2s;
    border: 3px solid transparent !important;
    padding: 2px;
}
.move_up:hover
{
    border: 3px solid blue !important;
 transform: translateY(-10px);
 box-shadow: 20px 20px 50px grey;
}

.scale_up {
    transition: all linear .2s;
}

.scale_up:hover {
    transform: scale(1.1);
    box-shadow: 20px 20px 50px black;
}

.box_shadow:hover {

    background-color: transparent;
    box-shadow: 0px 0px 7px black;
}

.color_blue:hover {
    background-color: transparent;
    color: blue;
}
.hover_border_red {
    padding: 1px;
    border: 3px solid transparent;
    border-radius: 30px;
    transition: border linear .2s ;
}
 .hover_border_red:hover {
    padding: 1px;
    border: 3px solid rgb(80%, 27%, 29%);
    border-radius: 30px;
}



.btn-danger:hover {
    color: #fff;
    background-color: rgb(80%, 27%, 29%);
    border-color: rgb(80%, 27%, 29%);
}

.dropdown-toggle::after {
    display: none;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(19%, 43%, 79%);
}

.navbar-light .navbar-nav .nav-link:hover .disappear{
    filter: grayscale(0);
}
.navbar-light .navbar-nav .nav-link.show {
    color: rgb(19%, 43%, 79%);
}

.disappear {
    display: inline-block;
    transform: rotate(0);
    transition: transform linear .3s;
    filter: grayscale(1);
}



.dropdown-toggle.show .disappear {
    display: inline-block;
    transform: rotate(180deg);
    filter: grayscale(0);
   
}

.btn-dark:hover {
    opacity: .8;
}

.hover_border_blue {
    padding: 1px;
    border: 3px solid transparent;
    border-radius: 30px;
    transition: border linear .2s ;
}
 .hover_border_blue:hover {
    padding: 1px;
    border: 3px solid rgb(19%, 43%, 80%);
    border-radius: 30px;
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(19%, 43%, 80%);
    border-color: rgb(19%, 43%, 80%);
}

.hover_border_light {
    padding: 1px;
    border: 3px solid transparent;
    border-radius: 30px;
    transition: border linear .2s ;
}
 .hover_border_light:hover {
    padding: 1px;
    border: 3px solid rgb(97%, 98%, 98%);
    border-radius: 30px;
}

.btn-light:hover {
    background-color: rgb(97%, 98%, 98%);
    border-color: rgb(97%, 98%, 98%);
}

.blue_border_hover {
    border: 3px solid transparent;
    transition: border linear .2s;
    border-radius: 30px;
}

.blue_border_hover:hover {
    border: 3px solid blue;
}